---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

type Props = {
	release: CollectionEntry<'releases'>;
};

const { release } = Astro.props;
---

<BaseLayout description="{release.data.description}" title="{release.data.title}">
	<div class="post single" transition:persist transition:name="post">
		<div class="version_wrapper">
			<div class="version_info">
				<div class="version_number">{release.data.versionNumber}</div>
				{release.data.beta && <div class="beta_version">Beta</div>}
				<FormattedDate class="date" date={release.data.date} />
			</div>
		</div>
		<div class="content">
			<h1>{release.data.title}</h1>
			<slot />
		</div>
	</div>
</BaseLayout>

